<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>深圳泰博国际excel上传</title>
	{include file="common/meta"/}
	<style>
	img {
		border: medium none;
		vertical-align: middle;
	}
</style>
</head>
<body>
	<div class="container">
		<p>
			<h3>下载用户表模板</h3>
			<a href="http://www.tp5excel.com/download/user.rar">
				<img src="__IMG__icon01.png" alt="下载模板">
			</a>
		</p>

		<form action="" method="post" enctype="multipart/form-data">
			<h3>上传数据：</h3>
			<input type="file" name="excel" id=""><br>
			<input type="hidden" name="hid" value="123"><br>
			<input type="submit" value="提交数据" class="btn btn-primary btn-lg">
		</form>
		<div class="form-group col-md-2 pull-right">
			<a type="button" class="btn btn-primary btn-lg" href="{:url('index/index/index')}">返回首页</a>
		</div>
	</div>
</body>
</html>