<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {include file="common/meta"/}
    <style>
    #main1{
        width: 1000px; height: 600px;
        border:1px solid #999;
        margin:100px 200px;
    }
    #main2{
        width: 1000px; height: 600px;
        border:1px solid #999;
        margin:100px 200px;
    }
    #main3{
        width: 1000px; height: 600px;
        border:1px solid #999;
        margin:100px 200px;
    }
</style>
</head>

<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->

<a href="{:url('tuxing/index')}"><button type="button" class="btn btn-primary btn-lg active pull-right">折线图分析</button></a>

    <div class="container">

        <h1 class="col-sm-12 text-center">深圳市泰博国际货运代理有限公司</h1>
        <form  action="{:url('echarts/index')}" method="post">


            <!-- <div class='col-sm-6'>
                <div class="form-group">
                    <label>按年份选择：</label>
                    <!--指定 date标记-->
                    
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <label>按ETD起始日期：</label>
                            <!--指定 date标记-->
                            <div class='input-group date' id='datetimepicker5'>
                                <input type='text' class="form-control" name="startday" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <label>结束日期：</label>
                            <!--指定 date标记-->
                            <div class='input-group date' id='datetimepicker6'>
                                <input type='text' class="form-control" name="endday" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    





                    <div class="col-md-2">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">搜索</button>  
                    </div>

                    
                </form>
                
                <div  style="width: 600px;height:200px;"></div>
                <div id="main1"  ></div>
                <div id="main2"  ></div>
                <div id="main3"  ></div>

            </div>
            <div class="form-group col-md-2 pull-right">
               <a type="button" class="btn btn-primary btn-lg" href="{:url('index/index/index')}">返回首页</a>
           </div>
           
       </body>
       </html>
       <script type="text/javascript">

        $(function () {

            
            $('#datetimepicker5').datetimepicker({
                format: 'YYYY-MM-DD',
                locale: moment.locale('zh-cn')
            });
            $('#datetimepicker6').datetimepicker({
                format: 'YYYY-MM-DD',
                locale: moment.locale('zh-cn')
            });

        });


    </script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main1'));

      
    
       var option = {
           title: {
                text: '{if !empty($title)}{$title}{else/}"测试数据"{/if}'
            },
                  color: ['#f88','#093'],
           tooltip: {
                        
                    },
            legend: {
                data: ['{$titleday}年T量', '{$titledayy}年T量']
            },
             toolbox: {
                show: true,
                feature: {
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                       data: {if !empty($shipjs)}{$shipjs|raw}{else/}['2019/11','2019/11','2019/11']{/if},
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '{$titleday}年T量',
                    type: 'bar',
                     barWidth: '20%',
                      label: {
                        show: true,
                        position: 'top'
                    },
                   data: {if !empty($countjs)}{$countjs|raw}{else/}[50,100,50]{/if}
                   
                    
                },
                {
                    name: '{$titledayy}年T量',
                     barWidth: '20%',
                    type: 'bar',
                     label: {
                        show: true,
                        position: 'top'
                    },
                   data: {if !empty($countjsy)}{$countjsy|raw}{else/}[50,100,50]{/if}
                   
                },
                {
                   
                    type: 'pie',
                    radius: '20%',
                    
                     center: ['85%', '15%'],
                    data: [
                        {value: {$all}, name: '{$titleday}年当段时间总T量'},
                        {value: {$ally}, name: '{$titledayy}年当段时间总T量'},

                       
                     ],
                    
        }
    ]
};
 // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main2'));

        // 指定图表的配置项和数据
    //     var  option = {
    //          title: {
    //             text: '{if !empty($titles)}{$titles}{else/}"测试数据"{/if}'
    //         },
    //         color: ['orange'],
    //         tooltip: {
    //             trigger: 'axis',
    //             axisPointer: {            // 坐标轴指示器，坐标轴触发有效
    //                 type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    //             }
    //         },
    //         legend: {
    //                     data:['T量']
    //                 },
    //         grid: {
    //             left: '3%',
    //             right: '4%',
    //             bottom: '3%',
    //             containLabel: true
    //         },
    //         xAxis: [
    //             {
    //                 type: 'category',
    //                data: {if !empty($servicejs)}{$servicejs|raw}{else/}['2019/11','2019/11','2019/11']{/if},
    //                 axisTick: {
    //                     alignWithLabel: true
    //                 }
    //     }
    //     ],
    //     yAxis: [
    //         {
    //             type: 'value'
    //         }
    //     ],
    //     series: [
    //         {
    //             name: 'T量',
    //             type: 'bar',
    //             barWidth: '50%',
    //              label: {
    //             show: true,
    //             position: 'top'
    //         },
    //             data: {if !empty($countsjs)}{$countsjs|raw}{else/}[50,100,50]{/if}
    //         }
    //     ]
    // };
    var option = {
           title: {
                text: '{if !empty($titles)}{$titles}{else/}"测试数据"{/if}'
            },
                  color: ['green','#013'],
           tooltip: {
                        
                    },
            legend: {
                data: ['{$titleday}年T量', '{$titledayy}年T量']
            },
             toolbox: {
                show: true,
                feature: {
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                       data: {if !empty($servicejs)}{$servicejs|raw}{else/}['2019/11','2019/11','2019/11']{/if},
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '{$titleday}年T量',
                    type: 'bar',
                     barWidth: '20%',
                      label: {
                        show: true,
                        position: 'top'
                    },
                   data: {if !empty($countsjs)}{$countsjs|raw}{else/}[50,100,50]{/if}
                   
                    
                },
                {
                    name: '{$titledayy}年T量',
                     barWidth: '20%',
                    type: 'bar',
                     label: {
                        show: true,
                        position: 'top'
                    },
                   data: {if !empty($countsjsy)}{$countsjsy|raw}{else/}[50,100,50]{/if}
                   
                },
                {
                   
                    type: 'pie',
                    radius: '20%',
                    
                     center: ['85%', '15%'],
                    data: [
                        {value: {$all}, name: '{$titleday}年当段时间总T量'},
                        {value: {$ally}, name: '{$titledayy}年当段时间总T量'},

                       
                     ],
                    
        }
    ]
};


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main3'));

        // 指定图表的配置项和数据
    //      var  option = {
    //          title: {
    //             text: '{if !empty($titlesm)}{$titlesm}{else/}"测试数据"{/if}'
    //         },
    //         color: ['green'],
    //         tooltip: {
    //             trigger: 'axis',
    //             axisPointer: {            // 坐标轴指示器，坐标轴触发有效
    //                 type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    //             }
    //         },
    //         legend: {
    //                     data:['T量']
    //                 },
    //         grid: {
    //             left: '3%',
    //             right: '4%',
    //             bottom: '3%',
    //             containLabel: true
    //         },
    //         xAxis: [
    //             {
    //                 type: 'category',
    //                data: {if !empty($servicemjs)}{$servicemjs|raw}{else/}['2019/11','2019/11','2019/11']{/if},
    //                 axisTick: {
    //                     alignWithLabel: true
    //                 }
    //     }
    //     ],
    //     yAxis: [
    //         {
    //             type: 'value'
    //         }
    //     ],
    //     series: [
    //         {
    //             name: 'T量',
    //             type: 'bar',
    //             barWidth: '10%',
    //              label: {
    //             show: true,
    //             position: 'top'
    //         },
    //             data: {if !empty($countsmjs)}{$countsmjs|raw}{else/}[50,100,50]{/if}
    //         }
    //     ]
    // };
    
 var option = {
           title: {
                text: '{if !empty($titlesm)}{$titlesm}{else/}"测试数据"{/if}'
            },
                  color: ['orange','#021'],
            tooltip: {
                
            },
            legend: {
                data: ['{$titleday}年T量', '{$titledayy}年T量']
            },
            toolbox: {
                show: true,
                feature: {
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                      data: {if !empty($servicemjs)}{$servicemjs|raw}{else/}['2019/11','2019/11','2019/11']{/if},
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '{$titleday}年T量',
                    type: 'bar',
                     barWidth: '20%',
                      label: {
                        show: true,
                        position: 'top'
                    },
                  data: {if !empty($countsmjs)}{$countsmjs|raw}{else/}[50,100,50]{/if}
                   
                    
                },
                {
                    name: '{$titledayy}年T量',
                     barWidth: '20%',
                    type: 'bar',
                     label: {
                        show: true,
                        position: 'top'
                    },
                   data: {if !empty($countsmjsy)}{$countsmjsy|raw}{else/}[50,100,50]{/if}
                   
                },
                {
                   
                    type: 'pie',
                    radius: '20%',
                    
                     center: ['85%', '15%'],
                    data: [
                        {value: {$all}, name: '{$titleday}年当段时间总T量'},
                        {value: {$ally}, name: '{$titledayy}年当段时间总T量'},

                       
                     ],
                    
        }
    ]
};
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
    