<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>深圳泰博国际</title>
	{include file="common/meta"/}
	<link rel="stylesheet" href="__CSS__index.css">


</head>
<body>
	<div class="container">
		<h1 class="text-center">新型冠状病毒防护小贴士</h1>
		<div style="width: 1080px;height: 20px"></div>
		<h4 class="col-offset-2 text-muted">
			研究结果显示，2019新型冠状病毒与SARS-CoV同属于网巢病毒目冠状病毒科乙型冠状病毒属，为一种不分节段的单股正链RNA病毒。病毒具有包膜、颗粒呈圆形或椭圆形，常为多形性，直径 60-140nm。
		</h4>
		<ul class="form-group text-muted">
			<li ><h3>1、洗手：</h3>
				<h4>要勤洗手，尤其是在接触到各种公共设施后。要将作息时间调整规律，加强锻炼提高自己的免疫力，防止病毒入侵。</h4></li>
			<li><h3>2、避免与患者密切接触:</h3>
				<h4>尽可能不待在患病者旁边。</h4>
			</li>
			<li><h3>3、避免触碰眼鼻口:</h3>
				<h4>戴口罩是阻断呼吸道分泌物传播的有效手段，出门请戴口罩。避免用未清洗的手触碰眼睛、鼻子、嘴巴。</h4>
			</li>
			<li><h3>4、清洁消毒:</h3>
				<h4>对一些很久没用过，或者不干净的东西进行消毒，注重清洁、通风。</h4>
			</li>
			<li><h3>5、多强身健体:</h3>
				<h4>“文明其精神，野蛮其体魄”，体格锻炼是抗击病毒的有效方式，身体是革命的本钱，体格强则病势微。</h4>
			</li>
		</ul>
	
</div>







</body>
</html>
	<script type="text/javascript">


	$(function () {
		$('#datetimepicker1').datetimepicker({
			format: 'YYYY-MM-DD',
			locale: moment.locale('zh-cn')
		});
		$('#datetimepicker2').datetimepicker({
			format: 'YYYY-MM-DD ',
			locale: moment.locale('zh-cn')
		});
	});

    </script>
