			
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>深圳市泰博国际货运代理有限公司订舱管理</title>
	{include file="common/meta"/}
	<link rel="stylesheet" href="__CSS__index.css">

</head>
<body>
 
<div class="container">	
 
  <h1 class="text-center col-lg-10">深圳市泰博国际货运代理有限公司邮箱密码更改</h1>

  <br>
  <br>
  <br>
  <br>
  <br>
  <a href="https://api.exmail.qq.com/cgi-bin/gettoken?corpid=ww921a4970fdb80915&corpsecret=21IMFXF4U-ojj3INDsVGl6TLTmE6TFP8iYIWJiz03sTGuYukyOLKerUFch938Dxd">111</a>
  <a href="https://api.exmail.qq.com/cgi-bin/user/update?access_token=8_xj_n-Rz-dC2Z04lXYAp5v-ACeUfuZcK5ul3EU7JxKN3M6Lt-ZWy7K7Q0gFaKKgRpZPAXBJR9w4qM0-8S11Wg">222</a>

<form class="form-inline col-lg-12 "  method="post"   >
  <div class="form-group col-lg-12 input-lg">
    <label for="bookclerk" class="success">qq邮箱</label>
    <input type="text" class="form-control" id="bookclerk" name="userid"  >
  </div>
  
   <div class="form-group col-lg-12  input-lg">
    <label for="exampleInputPassword1">姓名</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="name" >
  </div>

  <div class="form-group col-lg-12 input-lg">
      <label for="exampleInputPassword1">部门</label>
 
    <select class="form-control col-lg-offset-1  "  id="exampleInputPassword1" name="department" οnchange="selectOnchang(this)" >

  
               
                    <option value="0">请选择</option>
                    <option value="LILY">LILY</option>
                    <option value="FIONA">FIONA</option>
                    <option value="JANA">JANA</option>
                    <option value="JIM">JIM</option>
                    <option value="TYLER">TYLER</option>
                    <option value="YANNIS">YANNIS</option>

                  </select>
   
            

  </div>
  <div class="form-group col-lg-12  input-lg">
    <label for="exampleInputPassword1">职位</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="position"  >
  </div>
  <div class="form-group col-lg-12  input-lg">
    <label for="exampleInputPassword1">手机号</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="mobile"  >
  </div> 
  
   <div class="form-group col-lg-12 input-lg">
     <label for="exampleInputPassword1">性别</label>
      <div class="radio">
        <label>
          <input type="radio" name="gender" value="1" checked > 男
        </label>
      </div>
      <div class="radio ">
        <label>
          <input type="radio" name="gender" value="0"  >女
        </label>
      </div>


    </div>
  <div class="form-group col-lg-12 input-lg">
    	 <label for="exampleInputPassword1">启用/禁用成员</label>
      <div class="radio">
        <label>
          <input type="radio" name="enable" value="1" checked > 启用
        </label>
      </div>
      <div class="radio ">
        <label>
          <input type="radio" name="enable" value="0"  > 禁用
        </label>
      </div>


    </div>
  <div class="form-group col-lg-12 input-lg">
    <label for="exampleInputPassword1">密码</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="password" >
  </div>
   <div class="form-group col-lg-12 input-lg">
    	 <label for="exampleInputPassword1">重新登录时是否重设密码</label>
      <div class="radio">
        <label>
          <input type="radio" name="cpwd_login" value="1" checked > 是
        </label>
      </div>
      <div class="radio ">
        <label>
          <input type="radio" name="cpwd_login" value="0"  > 否
        </label>
      </div>


    </div>
 
  

  
  
  
  
  <button type="submit"  class="btn btn-primary col-lg-5 btn-lg pull-center" >提交</button>
  
</form>
<button type="submit"  class="btn btn-primary col-lg-5 btn-lg pull-center" >发送</button>
  
</div>
</body>
</html>

<script type="text/javascript">

$(function () {
    $('#datetimepicker1').datetimepicker({
        format: 'YYYY-MM-DD',
        locale: moment.locale('zh-cn')
    });
    $('#datetimepicker2').datetimepicker({
        format: 'YYYY-MM-DD',
        locale: moment.locale('zh-cn')
    });
  });
</script>
<script type="text/javascript">
	// var ajax=new XMLHttpRequest();
	// var ajax=new ActiveXObject("Microsoft.XMLHTTP");

 //    ajax: {
 //        url: ' https://api.exmail.qq.com/cgi-bin/user/update?access_token=8_xj_n-Rz-dC2Z04lXYAp5v-ACeUfuZcK5ul3EU7JxKN3M6Lt-ZWy7K7Q0gFaKKgRpZPAXBJR9w4qM0-8S11Wg',
 //        method: 'GET',
 //        data: function(){
 //            return JSON.stringify({
 //                "userid": userid.value,
 //                "name": name.value,
 //                "department": department.value,
 //                "position": position.value,
 //                "mobile": mobile.value,
 //                "gender": gender.value,
 //                "enable": enable.value,
 //                "password": password.value,
 //                "cpwd_login": cpwd_login.value
                
 //            })
 //        },
 //        success: function(res){
 //            console.log(res);
 //        },
        
 //    }
 //    ajax.send();
 function login(){
 	var ajax=new XMLHttpRequest();
	var ajax=new ActiveXObject("Microsoft.XMLHTTP");
	alert(ajax);
  
  }
</script>




