<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>深圳市泰博国际货运代理有限公司 </title>
	{include file="common/meta"/}
	<link rel="stylesheet" href="__CSS__index.css">


</head>
<body>
	<div class="container">
		<h1 class="text-center">深圳市泰博国际货运代理有限公司</h1>
		<div style="margin-top:50px" class="col-sm-3">
			<a class="btn btn-primary  btn-lg" href="{:url('index/bookspace/index')}">订舱表格显示</a>
		</div>
		<div style="margin-top:50px" class="col-sm-3">
			<a class="btn btn-primary  btn-lg" href="{:url('index/echarts/index')}">订舱T量Echarts显示</a>
		</div>
		<div style="margin-top:50px" class="col-sm-3">
			<a class="btn btn-primary  btn-lg" href="{:url('index/excel/index')}">订舱上传Excel表格页</a>
		</div>
		<div style="margin-top:50px" class="col-sm-3">
			<a class="btn btn-primary  btn-lg" href="{:url('index/pneumonia/index')}">2020肺炎感染调查表</a>
		</div>
		<div style="margin-top:50px" class="col-sm-3">
			<a class="btn btn-primary  btn-lg" href="{:url('index/booktrade/index')}">商务表格显示</a>
		</div>
		<div style="margin-top:50px" class="col-sm-3">
			<a class="btn btn-primary  btn-lg" href="{:url('index/pecharts/index')}">公司各部门自备口罩图</a>
		</div>
		
		
		<div style="margin-top:50px" class="col-sm-3">
			<a class="btn btn-primary  btn-lg" href="{:url('index/tradeexcel/index')}">商务上传Excel表格页</a>
		</div>
		<div style="margin-top:50px" class="col-sm-3">
			<a class="btn btn-primary  btn-lg" href="{:url('index/emailpassword/index')}">更改嘉泽邮箱密码</a>
		</div>
		<div style="margin-top:50px" class="col-sm-3">
			<a class="btn btn-primary  btn-lg" href="{:url('index/birthdayexcel/index')}">通讯录Excel表格页</a>
		</div>
		<div style="margin-top:50px" class="col-sm-3">
			<a class="btn btn-primary  btn-lg" href="{:url('index/emailexcel/index')}">邮箱Excel表格页</a>
		</div>
		<div style="margin-top:50px" class="col-sm-3">
			<a class="btn btn-primary  btn-lg" href="{:url('index/newtradeexcel/index')}">商务FMS上传Excel表格页</a>
		</div>
		<div style="margin-top:50px" class="col-sm-3">
			<a class="btn btn-primary  btn-lg" href="{:url('index/trade/index')}">商务FMS表格显示</a>
		</div>

	</div>
</body>
</html>	