

<script type="text/javascript" src="__JS__jquery-1.11.3.min.js"></script>
<script src="__JS__playImg.js"></script>
<link rel="stylesheet" href="__CSS__reset.css">

<link rel="stylesheet" type="text/css" href="__CSS__bootstrap.css">



<script type="text/javascript" src="__JS__bootstrap.min.js"></script> 
<script type="text/javascript" src="__JS__jquery.min.js"></script> 
<script type="text/javascript" src="__JS__jquery-ui.min.js"></script> 

<script type="text/javascript" src="__JS__echarts.min.js"></script> 
<script src="__JS__localday.js"></script>

<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="__CSS__bootstrap-datetimepicker.css" rel="stylesheet">
 
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="__JS__bootstrap-datetimepicker.js"></script> 	